html {
    overflow-y: scroll; /*protege o site de, quando a pagina não precisa de scroll e dá resize, ficar estranho*/
}

/*----------------*/
/*      BODY      */
/*----------------*/
body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    margin: 0 auto;
}

/*------------------*/
/*      HEADER      */
/*------------------*/

header{
    display: flex;
    grid-column: 1;
    grid-row: 1;
    justify-content: center; /*põe no centro (horizontaly/screen width)*/
    margin: 0 10px 0 0;
}

h1{
    white-space: pre-line;
    text-align: center;
    color: #333333;
}

/*--------------------*/
/*      NAV AREA      */
/*--------------------*/

nav {
    grid-column: 1;
    grid-row: 2;
    margin: 0 23px 0 0;
}

nav li {
    margin: 0 5px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    width: 160px;
}

nav a {
    color: #333333;
    text-decoration: none;
    display: block;
}

nav li.sel {
    font-size: 110%;
    background-color: #475B6E;
}
nav li:hover {
    background-color: #799EBF;
}

nav li.sel a{
    color: whitesmoke;
    font-size: 110%;
}
nav li:hover a {
    color: #595959;
}

nav ul {
    margin-left: 15px;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

/*----------------*/
/*      MAIN      */
/*----------------*/

#main{
    grid-column: 1;
    grid-row: 3;
    background-color: white;
}

/*------------------*/
/*      FOOTER      */
/*------------------*/

footer {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #799EBF;
    justify-content: center;
}

footer p{
    text-align: center;
    font-size: 15pt;
    color: #333333;
}


/*----------------------*/
/*      HOME PAGE      */
/*--------------------*/

/*  Home Photos  */
#homePhotos{
    display: flex;
    background-color: #799EBF;
    justify-content: center;
    height: 430px;
    padding-left: 10px;
}

#homePhotos img{
    height: 430px;
    padding-right: 20px ;
}

/*  Home Fields of Work  */
#homeFieldsGDev{
    display: grid;
    padding: 80px 0 30px 0;
    height: 800px;
    grid-template-columns: 552px 552px;
    grid-template-rows: 360px 360px;
    justify-content: center;
    column-gap: 150px; /* space between columns */
    row-gap: 50px;    /* space between rows */
}

#homeGD{
    grid-row: 1;
    grid-column: 1;
    background-image: url("../img/homeBox.png");
    background-size: cover;       /* makes the image fill the div */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    padding: 20px 20px 0 10px;
    justify-content: center;
}

#homeGD p{
    color: #333333;
    text-align: center;
    font-size: 14pt;
    line-height: 1.75;
}

#homeGD h2{
    color: #333333;
    text-align: center;
    font-size: 25pt;
}

#homeWND{
    grid-row: 1;
    grid-column: 2;
    background-image: url("../img/homeBox.png");
    background-size: cover;       /* makes the image fill the div */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    padding: 10px 20px 0 10px;
    justify-content: center;
}

#homeWND p{
    color: #333333;
    text-align: center;
    font-size: 14pt;
    line-height: 1.75;
}

#homeWND h2{
    color: #333333;
    text-align: center;
    font-size: 25pt;
}

#homeUX{
    grid-row: 2;
    grid-column: 1;
    background-image: url("../img/homeBox.png");
    background-size: cover;       /* makes the image fill the div */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    padding: 20px 20px 0 10px;
    justify-content: center;
}

#homeUX p{
    color: #333333;
    text-align: center;
    font-size: 14pt;
    line-height: 1.75;
}

#homeUX h2{
    color: #333333;
    text-align: center;
    font-size: 25pt;
}

#homeAGD{
    grid-row: 2;
    grid-column: 2;
    background-image: url("../img/homeBox.png");
    background-size: cover;       /* makes the image fill the div */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    padding: 20px 20px 0 10px;
    justify-content: center;
    align-items: center;
}

#homeAGD p{
    color: #333333;
    text-align: center;
    font-size: 14pt;
    line-height: 1.75;
}

#homeAGD h2{
    color: #333333;
    text-align: center;
    font-size: 25pt;
}


/*-------------------------*/
/*      CONTACT PAGE      */
/*-----------------------*/

#contactMain{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#contactText{
    margin-right: 20px;
}

/*  text set up  */
#contactMain h3{
    font-size: 17pt;
    color: #333333;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
}

#contactMain a,
#contactMain a:visited {
  color: #333333;
  text-decoration-color: #333333;
}

#contactMain p{
    color: #333333;
    text-align: center;
}

#contactMain h2{
    color: #333333;
    font-size: 40pt;
    padding-top: 40px;
    text-align: center;
}

#contactLinks{
    margin-top: 20px;
    padding: 20px 0 70px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 200px;
}

#contactLinks h3{
    padding: 0;
}

/*-----------------------*/
/*       SLIDESHOW      */
/*---------------------*/


#slideshow-text{
    text-align: center;
    justify-content: center;
    display: block;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    justify-content: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: whitesmoke;
    -webkit-text-stroke: 1.5px black;
    font-size: 20pt;
    font-weight: 1000;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 17pt;
    font-weight: bolder;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {filter: brightness(40%);}
    to {filter: brightness(100%);}
}

/*------------------------*/
/*      ABT ME PAGE      */
/*----------------------*/

#mainAbtMe{
    max-width: 810px;
    margin: 0 auto;
    justify-content: center;
}

#gameAwardsSection{
    max-width: 800px;
    margin: 0 auto;
}