html {
    overflow-y: scroll; /*protege o site de, quando a pagina não precisa de scroll e dá resize, ficar estranho*/
}

/*----------------*/
/*      BODY      */
/*----------------*/
body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    margin: 0 auto;
}

/*------------------*/
/*      HEADER      */
/*------------------*/

header{
    display: flex;
    grid-column: 1;
    grid-row: 1;
    justify-content: center; /*põe no centro (horizontaly/screen width)*/
    margin: 0 10px 0 0;
}

h1{
    white-space: pre-line;
    text-align: center;
    color: #333333;
}

/*--------------------*/
/*      NAV AREA      */
/*--------------------*/

nav {
    grid-column: 1;
    grid-row: 2;
    margin: 0 23px 0 0;
}

nav li {
    margin: 0 5px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    width: 160px;
}

nav a {
    color: #333333;
    text-decoration: none;
    display: block;
}

nav li.sel {
    font-size: 110%;
    background-color: #475B6E;
}
nav li:hover {
    background-color: #799EBF;
}

nav li.sel a{
    color: whitesmoke;
    font-size: 110%;
}
nav li:hover a {
    color: #595959;
}

nav ul {
    margin-left: 15px;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

/*----------------*/
/*      MAIN      */
/*----------------*/

#main{
    grid-column: 1;
    grid-row: 3;
    background-color: whitesmoke;
}

/*------------------*/
/*      FOOTER      */
/*------------------*/

footer {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #799EBF;
    justify-content: center;
}

footer p{
    text-align: center;
    font-size: 15pt;
    color: #333333;
}


/*  Home Photos  */
#homePhotos{
    display: flex;
    background-color: #799EBF;
    justify-content: center;
    height: 430px;
    padding-left: 10px;
}

#homePhotos img{
    height: 430px;
    padding-right: 20px ;
}

/*  Home Fields of Work  */
#homeFieldsGDev{
    display: grid;
    padding: 80px 0 30px 0;
    height: 800px;
    grid-template-columns: 552px 552px;
    grid-template-rows: 360px 360px;
    justify-content: center;
    column-gap: 150px; /* space between columns */
    row-gap: 50px;    /* space between rows */
}

#homeGD{
    grid-row: 1;
    grid-column: 1;
    background-image: url("../img/homeBox.png");
    background-size: cover;       /* makes the image fill the div */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    padding: 20px 20px 0 10px;
    justify-content: center;
}

#homeGD p{
    color: #333333;
    text-align: center;
    font-size: 14pt;
    line-height: 1.75;
}

#homeGD h2{
    color: #333333;
    text-align: center;
    font-size: 25pt;
}

#homeWND{
    grid-row: 1;
    grid-column: 2;
    background-image: url("../img/homeBox.png");
    background-size: cover;       /* makes the image fill the div */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    padding: 10px 20px 0 10px;
    justify-content: center;
}

#homeWND p{
    color: #333333;
    text-align: center;
    font-size: 14pt;
    line-height: 1.75;
}

#homeWND h2{
    color: #333333;
    text-align: center;
    font-size: 25pt;
}

#homeUX{
    grid-row: 2;
    grid-column: 1;
    background-image: url("../img/homeBox.png");
    background-size: cover;       /* makes the image fill the div */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    padding: 20px 20px 0 10px;
    justify-content: center;
}

#homeUX p{
    color: #333333;
    text-align: center;
    font-size: 14pt;
    line-height: 1.75;
}

#homeUX h2{
    color: #333333;
    text-align: center;
    font-size: 25pt;
}

#homeAGD{
    grid-row: 2;
    grid-column: 2;
    background-image: url("../img/homeBox.png");
    background-size: cover;       /* makes the image fill the div */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    padding: 20px 20px 0 10px;
    justify-content: center;
    align-items: center;
}

#homeAGD p{
    color: #333333;
    text-align: center;
    font-size: 14pt;
    line-height: 1.75;
}

#homeAGD h2{
    color: #333333;
    text-align: center;
    font-size: 25pt;
}